html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }

  .header-container{
    position: absolute;
    top: 5%;
    left: 70%;  
    right: 2%;  
    font-size: 20px;   
    width: 90%;      
    height: 2px;
    color: white;
    border: none;
    z-index: 10;
    

  }

  .header-container li{
    display: inline-block;
    padding: 10px 20px;
    list-style: none;
    

  }


  hr {
    position: absolute;
    top: 10%;
    left: 5%;  
    right: 7%;     
    width: 90%;      
    height: 2px;
    background-color: white;
    border: none;
    z-index: 10;
  }
  
  
  
  .forside{
    border: 40px solid white; 
  }
  .forsideimg {
    
    object-fit: contain;
    display: block;
   filter: brightness(80%);
    width: 100%;        
    height: 100%;       
    box-sizing: border-box;
   
    
   
    
  }

  

.text-merge {
    position: absolute;   
    top: 50%;             
    left: 56%;
    top: 38%;
    bottom: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);  
    font-size: 3rem;  
    text-shadow: 2px 2px 5px black;
}

.font1 {
    position: absolute;
    left:15%;       
    top: 70%;       
    transform: translateY(-70%); 
    font-family: "Mea Culpa", cursive;
    font-size: 300px;
    z-index: 10;
  }
  
  

.font2 {
    font-family: "GFS Didot", serif;
    font-size: 130px;
    margin-top: 80px; 
    margin-left: 70px;
    
}

.font3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "GFS Didot", serif;
    font-size: 35px;
    color: white;
    z-index: 10;

  }


  /* aflevering.html css */
  
  .header-container2 {
    position: absolute;
    left: 70%;
  
   }

 .header-container2 li{
  display: inline-block;
    padding: 10px 20px;
    list-style: none;
    margin-top: 25px;

 }
 .font4{
  font-family: "GFS Didot", serif;
  display: flex;
  
  justify-content: center;  
  align-items: center;      
  text-align: center;
  margin-top: 150px;

 }
 .p-font{
  font-family: "GFS Didot", serif;
  display: flex;
  justify-content: center;  
  align-items: center;      
  text-align: center;
  min-width: 300px;
  word-wrap: break-word;
  
  

 }

 .hr1 {
  border: none;          
  height: 2px;          
  background-color: rgb(78, 84, 78); 
  
  margin: 2px 0px;        
}


  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: fixed;
    width: 900px;
    margin-top: 100px;
    margin-left: 290px;
    z-index: 10;
  }
 
  .grid_1 img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    
    
  }
.p-box{
  display: flex;
  justify-content: center;
  text-align: center;
  color: rgb(3, 2, 2);
  font-family: "GFS Didot", serif;
  background-color: #84846ebf;
  
  
}
.billede2{
  filter: saturate(20%);
}

.billede3{
  filter: saturate(90%);
}

  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(65, 69, 55);
    
  }
  