html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }

  .header-container{
    position: absolute;
    top: 5%;
    left: 70%;  
    right: 2%;  
    font-size: 20px;   
    width: 90%;      
    height: 2px;
    color: white;
    border: none;
    z-index: 10;
    

  }

  .header-container li{
    display: inline-block;
    padding: 10px 20px;
   
    list-style: none;
    

  }

  .header-container a{
    text-decoration: none;
    color: white;
  }


  hr {
    position: absolute;
    top: 12%;
    left: 5%;  
    right: 7%;     
    width: 90%;      
    height: 2px;
    background-color: white;
    border: none;
    z-index: 10;
  }
  
  
  
  .forside{
    border: 40px solid white; 
  }
  .forsideimg {
    
    object-fit: contain;
    display: block;
   filter: brightness(80%);
   filter: saturate(80%);
   
    width: 100%;        
    height: 100%;       
    box-sizing: border-box;
   
    
   
    
  }

  

.text-merge {
    position: absolute;   
    top: 50%;             
    left: 56%;
    top: 38%;
    bottom: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    color: rgb(255, 255, 255);  
    font-size: 3rem;  
    text-shadow: 2px 2px 5px black;
}

.font1 {
    position: absolute;
    left:15%;       
    top: 70%;       
    transform: translateY(-70%); 
    font-family: "Mea Culpa", cursive;
    font-size: 300px;
    z-index: 10;
  }
  
  

.font2 {
    font-family: "GFS Didot", serif;
    font-size: 130px;
    margin-top: 80px; 
    margin-left: 70px;
    
}

.font3 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "GFS Didot", serif;
    font-size: 35px;
    color: white;
    z-index: 10;

  }


  /* aflevering.html css */
  
  .header-container2 {
    position: absolute;
    left: 70%;
  
   }

 .header-container2 li{
  display: inline-block;
    padding: 10px 20px;
    list-style: none;
    margin-top: 25px;
    font-size: 20px; 
    color: rgb(0, 0, 0);

 }
 .header-container2 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

 .font4{
  font-family: "GFS Didot", serif;
  display: flex;
  
  justify-content: center;  
  align-items: center;      
  text-align: center;
  margin-top: 150px;

 }
 .p-font{
  font-family: "GFS Didot", serif;
  display: flex;
  justify-content: center;  
  align-items: center;      
  text-align: center;
  min-width: 300px;
  word-wrap: break-word;
  

 }
.p-box{
  font-family: "GFS Didot", serif;
  color: rgb(223, 215, 215);
  background-color: rgb(97, 101, 80);
  padding: 20px;
  border: 1px solid rgb(82, 85, 67);
}
 .hr1 {
  border: none;          
  height: 2px;          
  background-color: rgb(78, 84, 78); 
  margin-top: 5px;      
  position: absolute;
   top: 11%;
}


  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: fixed;
    width: 900px;
    margin-top: 50px;
    margin-left: 290px;
    z-index: 10;
  }
 
  .grid_1 img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
   
    
  }

 
  

.billede2{
  filter: saturate(20%);
 
}

.billede3{
  filter: saturate(90%);
  
}

  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    background-color: rgb(65, 69, 55);
    border: 20px solid white;
    
  }
  

  /* opg1-html */

  
  .grid_2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 220px;
    width:65%;
    margin-top: 190px;
    gap: 50px;
    z-index: 10;
   
   
    
  }

  .grid_2 img{
    width: 100%;
    border: 2px solid rgb(156, 153, 131);
    border-radius: 90%;
    padding: 5px;
    
    
  }

 .grid_2 img:hover{
    box-shadow: 0px 0px 5px 5px rgb(74, 60, 52);
    transition: 0.5s ease;
    
    
  }
 
  .webh1{
    display: flex;
    gap: 20px;
    padding-right: 150px; 
    justify-content: flex-end; 
    align-items: center; 
    max-width: 260px;
    width: 260px;
    text-underline-offset: 7px;
    text-decoration: underline;
   
    
  }

  .webp{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    max-width: 660px;
    width: 360px;
    
    font-family: "GFS Didot", serif;
    background-color: rgb(208, 207, 188);
   padding: 20px;
   
    
  }
  .webp1{
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    max-width: 660px;
    width: 360px;
    font-family: "GFS Didot", serif;
   background-color: rgb(208, 207, 188);
   padding: 20px;
    
  }

  .webp, .webp1{
    font-family: "GFS Didot", serif;
    text-align: center;
    margin: 0;
    padding-top:70px;
  }
  
  .footerr{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 400px;
    background-color: rgb(97, 90, 79);
    z-index: -1;
    box-sizing: border-box;
    border: 20px solid white;
    
  }

  


  
 
  

  